@CHARSET "UTF-8";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

BODY {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}
BODY > * {
  margin: 0 auto;
}

H1.title {
  text-align: center;
}

A {
  text-decoration: none;
  color: #222222;
}
A:hover {
  text-decoration: underline;
}

.header-row {
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  border: 1px solid #d5d5d5;
  display: table;
  width: 100%;
}
.header-row > * {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-row .left-cell {
  width: 170px;
  text-align: left;
  padding-left: 10px;
}
.header-row .right-cell {
  width: 170px;
  text-align: right;
  padding-right: 10px;
}

.search-row {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-color: #E0E0E0;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  text-align: right;
  padding: 5px 10px;
}

#search-box {
  width: 300px;
}

#stack-view {
  max-width: 800px;
}
#stack-view BUTTON.standard-button {
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  border: 1px solid #dddddd;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  height: 24px;
}
#stack-view BUTTON.standard-button:hover {
  background-color: #dadada;
  background-image: -moz-linear-gradient(#eaeaea, #dadada);
  background-image: -webkit-linear-gradient(#eaeaea, #dadada);
  background-image: linear-gradient(#eaeaea, #dadada);
  border-color: #ccc;
}

.song-title {
  font-weight: bold;
}

.user-name {
  color: #999;
}

.item-view {
  border: 1px solid #e0e0e0;
}
.item-view .song-info {
  display: table;
  width: 100%;
}
.item-view .song-info > * {
  display: table-cell;
}
.item-view .song-info .song-title {
  text-align: left;
}
.item-view .song-info .song-duration {
  width: 80px;
  text-align: right;
  padding-right: 10px;
}
.item-view .user-name {
  font-size: small;
  text-align: left;
}
.item-view:hover {
  background-color: #FFEFC6;
  color: #735005;
  cursor: pointer;
}

#song-list-view {
  border: 1px solid #d5d5d5;
}

.song-item-view {
  display: table;
  height: 32px;
  width: 100%;
}
.song-item-view > * {
  display: table-cell;
  vertical-align: middle;
}
.song-item-view .item-actions {
  text-align: right;
  padding-right: 15px;
  width: 50px;
}
.song-item-view .item-actions BUTTON.action-button {
  display: inline;
  height: 32px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: green;
  color: white;
  border: 0;
}

.now-playing-text {
  display: none;
}

.now-playing {
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.now-playing .now-playing-text {
  display: block;
  font-style: italic;
  font-weight: bold;
  color: blue;
}

.edit-button {
  display: inline;
}

.done-button {
  display: none;
}

.song-list-button {
  float: left;
}

#playlist-view .editable-container .song-item-view > .item-actions {
  display: none;
}

.now-playing-button {
  display: none;
}

.song-played .now-playing-button {
  display: inline;
}

.playlist-edit .edit-button {
  display: none;
}
.playlist-edit .done-button {
  display: inline;
}
.playlist-edit .song-list-button, .playlist-edit .edit-button, .playlist-edit .play-button, .playlist-edit .now-playing-button {
  display: none;
}

.add-button {
  background-image: url("../images/add_button.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  width: 32px;
  height: 32px;
}

.playlist-added .item-actions BUTTON.add-button {
  opacity: 0.50;
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  -ms-filter: "alpha(opacity=50)";
}
