@CHARSET "UTF-8";

@mixin round-corner($r) {
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin default-font {
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

BODY {
  @include default-font;
  padding: 0;
  margin: 0;
}

H1.title {
  text-align: center;
}

A {
  text-decoration: none;
  color: #222222;

  &:hover {
    text-decoration: underline;
  }
}

HR {
  margin: 0;
}

.header-row {
  display: table;
  background-color: #E0E0E0;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .left-cell {
    width: 150px;
    text-align: left;
    padding-left: 10px;
  }

  .right-cell {
    width: 150px;
    text-align: right;
    padding-right: 10px;
  }
}

.search-row {
  background-color: #E0E0E0;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}

#stack-view {
  max-width:800px;
}

.item-view {
  border: 1px solid #E0E0E0;

  .song-info {
    display: table;
    width: 100%;

    > * {
      display: table-cell;
    }

    .song-title {
      text-align: left;
      font-weight: bold;
    }

    .song-duration {
      width: 80px;
      text-align: right;
      padding-right: 10px;
    }
  }

  .user-name {
    color: #999;
    font-size: small;
    text-align: left;
  }

  &:hover {
    background-color: #FFEFC6;
    color: #735005;
    cursor: pointer;
  }
}

.song-item-view {
  display: table;
  height: 32px;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .item-actions {
    text-align: right;
    padding-right: 15px;
    width: 50px;

    BUTTON.action-button {
      display: inline;
      height: 32px;
      @include round-corner(6px);
      background-color: green;
      color: white;
      border: 0;
    }
  }
}

.now-playing-text {
  display: none;
}

.now-playing {
  @include round-corner(6px);

  .now-playing-text {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: blue;
  }
}

.edit-button {
  display: inline;
}

.done-button {
  display: none;
}

.song-list-button {
  float:left;
}

.play-item-view {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.now-playing-button {
  display: none;
}

.song-played .now-playing-button {
  display: inline;
}

.playlist_edit {
  .edit-button {
    display: none;
  }

  .done-button {
    display: inline;
  }

  .song-list-button, .edit-button, .play-button, .now-playing-button {
    display: none;
  }
}

.add-button {
  background-image: url('../images/add_button.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  width: 32px;
  height: 32px;
}

.playlist-added .item-actions BUTTON.add-button {
  opacity: 0.50;
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  -ms-filter: "alpha(opacity=50)";
}