@CHARSET "UTF-8";
BODY {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  padding: 0 10px; }

H1.title {
  text-align: center; }

A {
  text-decoration: none;
  color: #222222; }
  A:hover {
    text-decoration: underline; }

#addTaskContainer {
  text-align: right;
  padding-right: 15px; }

.item-view {
  display: table;
  height: 32px;
  width: 100%;
  padding: 6px; }
  .item-view > * {
    display: table-cell;
    vertical-align: middle; }
  .item-view .user-name {
    color: #999; }
  .item-view .item-actions {
    padding-right: 5px; }
    .item-view .item-actions BUTTON.action-button {
      display: inline;
      width: 60px;
      height: 32px;
      background-color: green;
      -moz-border-radius: 6px;
      border-radius: 6px;
      color: white;
      border: 0; }

.now-playing-text {
  display: none; }

.now-playing {
  background-color: #FFEFC6;
  color: #735005;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  .now-playing .now-playing-text {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: blue; }

.edit-button {
  display: inline; }

.done-button {
  display: none; }

.delete-icon {
  background-image: url("../images/delete_control.jpg");
  background-position: no-repeat;
  width: 34px;
  height: 33px;
  border: none;
  padding: 0;
  display: none; }

.reorder-handle {
  background-image: url("../images/row_reorder.jpg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: none; }

.song-list-button {
  float: left; }

.playlist-edit .song-list-button, .playlist-edit .edit-button, .playlist-edit .play-button {
  display: none; }
.playlist-edit .done-button {
  display: inline; }
.playlist-edit .delete-icon {
  display: inline; }
.playlist-edit .remove-confirm .delete-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }
.playlist-edit .reorder-handle {
  display: inline-block; }
.playlist-edit .remove-confirm .reorder-handle {
  display: none; }
.playlist-edit .item-view .item-actions BUTTON.delete-button {
  display: none;
  background-color: red; }
.playlist-edit .remove-confirm .item-actions BUTTON.delete-button {
  display: inline; }

.playListAdded .item-actions BUTTON.addBtn {
  background-color: gray; }
