@CHARSET "UTF-8";
BODY {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  padding: 0;
  margin: 0; }

H1.title {
  text-align: center; }

A {
  text-decoration: none;
  color: #222222; }
  A:hover {
    text-decoration: underline; }

HR {
  margin: 0; }

.header-row {
  display: table;
  background-color: #E0E0E0;
  width: 100%; }
  .header-row > * {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px; }
  .header-row .left-cell {
    width: 150px;
    text-align: left;
    padding-left: 10px; }
  .header-row .right-cell {
    width: 150px;
    text-align: right;
    padding-right: 10px; }

.search-row {
  background-color: #E0E0E0;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px; }

#stack-view {
  max-width: 800px; }

.item-view {
  display: table;
  height: 32px;
  width: 100%;
  border: 1px solid #e0e0e0; }
  .item-view > * {
    display: table-cell;
    vertical-align: middle; }
  .item-view .user-name {
    color: #999;
    font-size: small; }
  .item-view .item-actions {
    text-align: right;
    padding-right: 15px; }
    .item-view .item-actions BUTTON.action-button {
      display: inline;
      height: 32px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background-color: green;
      color: white;
      border: 0; }

.now-playing-text {
  display: none; }

.now-playing {
  background-color: #FFEFC6;
  color: #735005;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  .now-playing .now-playing-text {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: blue; }

.edit-button {
  display: inline; }

.done-button {
  display: none; }

.delete-icon {
  background-image: url("../images/delete_control.jpg");
  background-position: no-repeat;
  width: 34px;
  height: 33px;
  border: none;
  padding: 0;
  display: none; }

.reorder-handle {
  background-image: url("../images/row_reorder.jpg");
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 32px;
  height: 32px;
  display: none; }

.song-list-button {
  float: left; }

.item-view .item-actions BUTTON.delete-button {
  height: 32px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: red;
  color: white;
  border: 0;
  display: none; }

.playlist-edit .song-list-button, .playlist-edit .edit-button, .playlist-edit .play-button {
  display: none; }
.playlist-edit .done-button {
  display: inline; }
.playlist-edit .delete-cell {
  width: 40px; }
.playlist-edit .delete-icon {
  display: inline; }
.playlist-edit .remove-confirm .delete-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }
.playlist-edit .reorder-handle {
  display: inline-block; }
.playlist-edit .remove-confirm .reorder-handle {
  display: none; }
.playlist-edit .remove-confirm .item-actions BUTTON.delete-button {
  display: inline; }

.playListAdded .item-actions BUTTON.addBtn {
  background-color: gray; }
