<div class="now-playing-view" style="text-align:center;">
  <div class="header-row">
    <div class="left-cell">
      <button id="now-playing-back-button" class="standard-button">Back</button>
    </div>
    <div>
      <div><a href="<%- permalink_url %>" target="_blank" class="song-title"><%- title %></a></div>
      <div><a href="<%- user.permalink_url %>" title="<%- user.username %>" target="_blank" class="user-name"><%- user.username %></a></div>
    </div>
    <div class="right-cell"></div>
  </div>
  <img src="<%- user.avatar_url %>" style="width:100%; max-width:300px;" />
</div>