<a href="http://soundcloud.com" target="_blank" style="width:120px;">
  <img src="http://developers.soundcloud.com/assets/powered_by_black-ee7e351d64511ecea75c6c17ca30064f.png" alt="SoundCloud" title="SoundCloud"
  style="width:104px; height:32px;" />
</a>
<div style="float:right;"><button id="showPlayListButton">Playlist</button></div>
<h1 class="title">Song List</h1>
<div style="text-align:right;">
  <input id="searchBox" type="text">
  <button id="searchBtn">Search</button>
</div>
<div id="embedContainer"></div>
<hr />
<div id="songListView"></div>