@CHARSET "UTF-8";
BODY {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  padding: 0 10px; }

H1.title {
  text-align: center; }

A {
  text-decoration: none;
  color: #222222; }
  A:hover {
    text-decoration: underline; }

#addTaskContainer {
  text-align: right;
  padding-right: 15px; }

.item-view {
  display: table;
  height: 32px;
  width: 100%;
  padding: 6px; }
  .item-view > * {
    display: table-cell;
    vertical-align: middle; }
  .item-view .user-name {
    color: #999; }
  .item-view .item-actions {
    padding-right: 5px; }
    .item-view .item-actions BUTTON {
      display: inline;
      width: 60px;
      height: 32px;
      background-color: green;
      -moz-border-radius: 6px;
      border-radius: 6px;
      color: white;
      border: 0; }

.now-playing-text {
  display: none; }

.now-playing {
  background-color: #FFEFC6;
  color: #735005;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  .now-playing .now-playing-text {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: blue; }

.playListAdded .item-actions BUTTON.addBtn {
  background-color: gray; }

#playListApp .ui-dialog-titlebar {
  display: none; }

/* override jQuery UI styles */
#playListApp .ui-widget #playListContainerView input, #playListApp .ui-widget #playListContainerView select, #playListApp .ui-widget #playListContainerView textarea, #playListApp .ui-widget #playListContainerView button {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: medium; }
