<div class="item-view">
  <span style="width:50px"><button class="playBtn">Play</button></span>
  <span style="width:100px;">
    <a href="<%- user.permalink_url %>" title="<%- user.username %>" target="_blank" class="user-name">
      <img src="<%- user.avatar_url %>" style="width:100px; height:100px;" alt="<%- user.username %>" title="<%- user.username %>" />
    </a>
  </span>
  <span style="padding:10px;">
    <div class="now-playing-text">Now Playing...</div>
    <div><a href="<%- user.permalink_url %>" title="<%- user.username %>" target="_blank" class="user-name"><%- user.username %></a></div>
    <div><a href="<%- permalink_url %>" target="_blank"><%- title %></a></div>
  </span>
  <a href="http://soundcloud.com" target="_blank" style="width:120px;">
    <img src="http://developers.soundcloud.com/assets/powered_by_black-ee7e351d64511ecea75c6c17ca30064f.png" alt="SoundCloud" title="SoundCloud"
    style="width:104px; height:32px;" />
  </a>
  <span class="item-actions" style="width:70px;"><button class="actionBtn removeBtn">Delete</button></span>
</div>