@CHARSET "UTF-8";

@mixin round-corner($r) {
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin default-font {
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

BODY {
  @include default-font;
  padding: 0 10px;
}

H1.title {
  text-align: center;
}

A {
  text-decoration: none;
  color: #222222;

  &:hover {
    text-decoration: underline;
  }
}

#addTaskContainer {
  text-align: right;
  padding-right: 15px;
}

.item-view {
  display: table;
  height: 32px;
  width: 100%;
  padding: 6px;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .user-name {
    color: #999;
  }

  .item-actions {
    padding-right: 5px;

    BUTTON {
      display: inline;
      width: 60px;
      height: 32px;
      background-color: green;
      @include round-corner(6px);
      color: white;
      border: 0;
    }
  }
}

.now-playing-text {
  display: none;
}

.now-playing {
  background-color: #FFEFC6;
  color: #735005;
  @include round-corner(6px);

  .now-playing-text {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: blue;
  }
}

.playListAdded .item-actions BUTTON.addBtn {
  background-color: gray;
}

#playListApp .ui-dialog-titlebar {
  display: none;
}

/* override jQuery UI styles */
#playListApp .ui-widget #playListContainerView {
  input, select, textarea, button {
    @include default-font;
    font-size: medium;
  }
}